<footer class="footer">
  <div class="footer-section">
    <h2 class="brand-name">EIDDO GLOBAL</h2>
    <p class="tagline">
      committed to shaping the future of real estate and infrastructure<br />
      through innovation, expertise, and<br />
      sustainable growth.
    </p>
  </div>

  <div class="footer-section">
    <ul class="footer-links">
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>

  <div class="footer-section address">
    <h3>ADDRESS</h3>
    <p>
      Eiddo Global Headquarters<br />
      10–3–310/1,<br />
      Castle Hills Technopolis,<br />
      Masab Tank, Hyderabad,<br />
      Telangana, India
    </p>
   <div class="icons">
  <a href="tel:+911234567890" aria-label="Call Eiddo Global" target="_blank">
    <mat-icon>call</mat-icon>
  </a>
  <a href="mailto:info@eiddo.com" aria-label="Email Eiddo Global" target="_blank">
    <mat-icon>mail_outline</mat-icon>
  </a>
</div>
  </div>
</footer>
