<app-navbar></app-navbar>
<div class="leasing-container">
  <div class="leasing-card">
    <div class="image-wrapper">
      <img src="rentals.png" alt="Property Leasing" />
      <div class="title-overlay">Property Leasing &<br />Short-Term Rentals</div>
    </div>

    <div class="content">
      <p>
      We Connect Property Owners With Qualified Tenants, Offering Leasing Solutions That Include Tenant Screening, Lease Negotiation, And Property Maintenance.
      Our Short-Term Rental Services Help Maximize Returns While Ensuring Seamless Tenant Experiences.
      </p>
      <button type="button" class="action-button" [routerLink]="'/contact'">Book a Service</button>
    </div>
  </div>
</div>

<app-footer></app-footer>