<div class="property-modal">
  <button class="close-btn" mat-icon-button (click)="dialogRef.close()">
    ✖
  </button>

  <h2 class="modal-title">{{ data.title }}</h2>

  <div class="image-container" *ngIf="data.images?.length > 0; else singleImage">
    <div class="image-slider">
      <img *ngFor="let img of data.images" [src]="img" alt="Property Image" (click)="openLightbox(img)">
    </div>
  </div>

  <ng-template #singleImage>
    <div class="image-container" *ngIf="data.image">
      <img [src]="data.image" alt="Property Image" (click)="openLightbox(data.image)">
    </div>
  </ng-template>

  <div class="details">
    <p><strong>Price:</strong> <span class="value">{{ data.price }}</span></p>
    <p><strong>Location:</strong> <span class="value">{{ data.location }}</span></p>
    <p><strong>Bedrooms:</strong> <span class="value">{{ data.bedrooms }}</span></p>
    <p><strong>Area:</strong> <span class="value">{{ data.area }}</span></p>
    <p><strong>Description:</strong></p>
    <p class="description">{{ data.description }}</p>
  </div>
  <div class="cta-container">
  <button mat-raised-button color="primary" (click)="inquireAboutProperty()">
    Inquire About This Property
  </button>
</div>

</div>
